body{
  background:black;
  font-family:Arial;
}

.title{
  text-align:center;
  color:white;
  margin-bottom:30px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
  padding:20px;
}

.card{
  border:1px solid gray;
  padding:15px;
  text-align:center;
  background:#111;
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
  margin-bottom:10px;
}

.card p{
  color:white;
  font-size:14px;
}
.placeholder{
  width:100%;
  height:200px;
  color:white;
  font-size:40px;
  display:none;
  align-items:center;
  justify-content:center;
  font-weight: bold;
  letter-spacing: 2px;
}
.loading{
  height:90vh;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:30px;
  font-weight:bold;
  color:white;
  background:black;
  text-align:center;
}